<!DOCTYPE html>
<html>
<head>
    <title>Enter the password</title>
    <meta charset=utf-8/>
    <script src="http://code.jquery.com/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/main.css"/>
    <style type="text/css">
        #outer {height: 100%; overflow: visible;display: table; width: 400px; margin: 0 auto;}

        #middle {display: table-cell; vertical-align: middle; }

        #inner{width: 100%; margin: 0 auto; }

        html,body{
            height: 100%;
        }

    </style>
</head>
<body style="height: 100%;">

<div id="outer">
    <div id="middle">
        <div id="inner">
            <form class="password-form" action="/u/{{ login }}/{{ name }}/" method="post">
                <input type="password" name="password" placeholder="enter your password" class="input-text"/>
                <button id="submit-password" class="input-text cupid-green" style="width: 50px;top: -1px; position: relative; left: -20px;z-index: 10;"></button>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function(){
        $('button').click(function(){
            var data = {};
            data.password = $('input[name="password"]').val();
            if(data.password) return;
            $.ajax({
                url:'/open_post/',
                type:'post',
                data:data,
                success:function(response){
                    console.log(response);
                }
            })

        });
    });
</script>

</body>
</html>